<div class='article'>
	<h2>Welcome</h2>

	<p style='text-align:center;'>
	<img style='border-radius:4px;' src='/static/img/me.jpg'>
	</p>

	<p>
	My name is Perry Naughton. I am pursuing a Ph.D. at the <a href="ucsd.edu">University of California, San Diego</a>. I am concerned about conservation, especially in marine environments. Therefore I am developing <em>remote sensing</em> and <em>robotic</em> technologies to make conservational efforts more effective. To get to know me beter visit my <a href="">research page</a>, <a href="">blog</a>, read <a href="">news articles</a> written about me and my projects, or come sleep <a href="https://www.couchsurfing.org/profile.html?id=F0SEM25">on my couch</a>.

	<p>
</div>
