<div class='article'>
	Some news articles that mention me and my work(or play).
	<p>
	<h3>2013</h3>
	<ul class='news_clippings'>
			<li>
			<a href='http://jacobsschoolofengineering.blogspot.com/2013/09/a-robotic-stingray-takes-dip-at-uc-san.html'>
			Robotic Stingray Takes a Dip
			</a>
			<div class='caption'>Jacobs School Blog</div>
		</li>
	</ul>
	<h3>2012</h3>
	<ul class='news_clippings'>
			<li>
			<a href='http://www.calit2.net/newsroom/article.php?id=1991'>
			UC San Diego Students Demonstrate Smart Camera Trap at New Engineering Competition
			</a>
			<div class='caption'>Calit2 Newsroom</div>
		</li>
	</ul>
	<h3>2010</h3>
	<ul class='news_clippings'>
		<li>
			<a href='http://www.calit2.net/newsroom/rss.php?id=1679'>
				Introducing the Calit2 UCSD Undergraduate Summer Research Scholars
			</a>
			<div class='caption'>Calit2 Newsroom</div>
		</li>
		<li>
			<a href='http://ucsdmag.ucsd.edu/magazine/vol7no1/waves/article6.htm'>
				Cycling for Waves
			</a>
			<div class='caption'>UCSD Alumni Magazine</div>
		</li>
	</ul>
</div>
