<div class='article'>
	I am proud to be part of the following research groups:

	<h3><a href='http://cisa3.calit2.net/'>Center of Interdisciplinary Science for Art, Architecture and Archaeology (CISA3)</a></h3>
	CISA3 develops tools and technology for the discovery, documentation, preservation and dissemination of important Cultural Heritage sights. You can find my profile in CISA3 <a href='http://cisa3.calit2.net/igert-teech/bio.php?id=68'>here</a>.

	<h3><a href='kastner.ucsd.edu'>Kastner Research Group </a></h3>
	The Kastner Research group focuses on the advancement of embedded technology. At a high level, this technolgy includes devices that seamlessly integrate into our lives and .


	<h3><a href='e4e.ucsd.edu'> Engineers for Exploration</a></h3>
	The Engineers for Exploration pushes the limits of both conservation research and exploration through the development of remote imaging technology.
</div>
